.root {
  -fx-font-family: "Segoe UI Semibold";
  -fx-background: #d3e8e5;
  text_color: black;
}

/*Default button styling*/
.button {
  -fx-text-fill: text_color;
  -fx-font-size: 12;
  -fx-border-color: darkgray;
  -fx-border-width: 2px;
  -fx-background-color: lightgray;
  -fx-padding: 10px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
}

#AboutPane {
  -fx-background-color: lightblue;
  -fx-text-fill: black;
  -fx-font-size: 12;
}

#BlueDevilModeAboutPane {
  -fx-background-color: #2427bf;
  -fx-text-fill: white;
  -fx-text-background-color: white;
  -fx-font-size: 12;
}

#DarkModeAboutPane {
  -fx-background-color: #262b33;
  -fx-text-fill: white;
  -fx-text-background-color: white;
  -fx-font-size: 12;
}

#LightModeAboutPane {
  -fx-background-color: #f5f5ff;
  -fx-text-fill: black;
  -fx-text-background-color: black;
  -fx-font-size: 12;
}

.gridPane {
  -fx-background-color: lightgray;
  -fx-text-fill: black;
  -fx-font-size: 40;
}

#BlueDevilMode {
  -fx-font-family: "Segoe UI Semibold";
  text_color: black;
  -fx-background-color: #0462b5;
}

#DarkMode {
  -fx-font-family: "Segoe UI Semibold";
  text_color: black;
  -fx-background-color: #3f3f47;
}

#LightMode {
  -fx-font-family: "Segoe UI Semibold";
  text_color: black;
  -fx-background-color: #ffffff;
}

#MainPane {
  -fx-background-color: lightblue;
  -fx-text-fill: black;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

#BlueDevilModeMainPane {
  -fx-background-color: #2427bf;
  -fx-text-fill: white;
  -fx-text-background-color: lightgray;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

#DarkModeMainPane {
  -fx-background-color: #262b33;
  -fx-text-background-color: lightgray;
  -fx-text-fill: white;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

#LightModeMainPane {
  -fx-background-color: #f5f5ff;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

#TopButtonPanel {
  -fx-alignment: center;
  -fx-spacing: 15;
  -fx-padding: 15 10 5 10;
}

#BottomButtonPanel {
  -fx-alignment: center;
  -fx-spacing: 15;
  -fx-padding: 5 10 15 10;
}

#GridPanel {
  -fx-alignment: center;
  -fx-spacing: 20;
}

#HistogramPane {
  -fx-alignment: center;
  -fx-spacing: 20;
  -fx-background-color: lightblue;
}

#BarChartPane {
  -fx-alignment: center;
  -fx-spacing: 20;
  -fx-background-color: lightblue;
}


#CellStateCount {
  -fx-alignment: center;
  -fx-spacing: 20;
}

#LightModeHistogramPane {
  -fx-alignment: center;
  -fx-spacing: 20;
  -fx-font-family: "Segoe UI Semibold";
  -fx-background-color: #ffffff;
}

#DarkModeHistogramPane {
  -fx-alignment: center;
  -fx-spacing: 20;
  -fx-text-background-color: lightgray;
  -fx-text-fill: white;
  -fx-font-family: "Segoe UI Semibold";
  -fx-background-color: #3f3f47;
}

#BlueDevilModeHistogramPane {
  -fx-alignment: center;
  -fx-spacing: 20;
  -fx-font-family: "Segoe UI Semibold";
  -fx-background-color: #0462b5;
}

#Grid {
  -fx-alignment: center;
}

#FireLabel {
  -fx-font-size: 13;
}

#CellStateLabel {
  -fx-font-size: 13;
}

#DropDownDefault {
  -fx-font-size: 13;
  -fx-font-family: "Segoe UI Semibold";
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-text-alignment: center;
}

#CellStatesOverTime {
  -fx-font-size: 13;
  -fx-alignment: center;
  -fx-font-family: "Segoe UI Semibold";
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-text-alignment: center;
}


