.root {
  -fx-font-family: "Segoe UI Semibold";
  -fx-background: #d3e8e5;
  text_color: black;
}

/*Default button styling*/
.button {
  -fx-text-fill: text_color;
  -fx-font-size: 12;
  -fx-border-color: darkgray;
  -fx-border-width: 2px;
  -fx-background-color: lightgray;
  -fx-padding: 10px;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
}

#aboutPane {
  -fx-background-color: lightblue;
  -fx-font-size: 20;
  -fx-alignment: center;
}

.gridPane {
  -fx-background-color: lightgray;
  -fx-text-fill: black;
  -fx-font-size: 40;
}

.textProps {
  -fx-text-fill: black;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 18;
  -fx-font-weight: bold;
}

#MainPane {
  -fx-background-color: lightblue;
  -fx-text-fill: black;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

#TopButtonPanel {
  -fx-alignment: center;
  -fx-spacing: 15;
  -fx-padding: 15 10 5 10;
}

#BottomButtonPanel {
  -fx-alignment: center;
  -fx-spacing: 15;
  -fx-padding: 5 10 15 10;
}

#DisplayLabel {
  -fx-text-fill: black;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 18;
  -fx-font-weight: bold;
}

#GridPanel {
  -fx-alignment: center;
}

#FireLabel {
  -fx-font-size: 13;
}

#CellStateLabel {
  -fx-font-size: 13;
}

#DropDownDefault {
  -fx-font-size: 13;
  -fx-font-family: "Segoe UI Semibold";
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
}